<h1>Listing floors</h1>

<table class="table table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @floors.each do |floor| %>
      <tr>
        <td><%= floor.name %></td>
        <td><%= link_to "Show Flats", floor_flats_url(floor), class: "btn btn-primary" %>
        <td>
          <%= link_to 'Show', floor, class: "btn btn-default" %>
          <%= link_to 'Edit', edit_floor_path(floor), class: "btn btn-default" %>
          <%= link_to 'Destroy', floor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floor', new_floor_path %>
